.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    z-index: 1000;
  }
  
  .contact-form-container {
    display: flex;
    max-width: 800px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: scroll;
    
  }
  
  .contact-form-container::-webkit-scrollbar {
    display: none;
}
  .contact-form-header {
    font-size: xx-large;
    font-weight: bolder;
    color: #ffffff;
    background-color: #192228;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
    max-height: 60px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  
  .modal-close {
    font-size: xx-large;
    font-weight: bolder;
    background-color: #192228;
    border: none;
    cursor: pointer;
    color: #ffffff;
  }
  
  .modal {
    background: white;
    border-radius: 8px;
    max-width: 80%;
    max-height: 600px;
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  input {
    padding: 10px;
    font-size: large;
    height: 50px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    padding: 10px;
    font-size: x-large;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    max-width: 97%;
    margin-right: 10px;
    border-radius: 4px;
  }
  
  .sendButton {
    font-size: large;
    font-weight: bolder;
    background-color: #ed4f54;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .sendButton:hover {
    background-color: #f25d61;
  }
  
  @media screen and (max-width: 1260px) {
    .contact-form-container {
      max-width: 80%;
      max-height: 400px;
      height: 100%;
      width: 100%;
    }
    input {
    padding: 5px;
    font-size: large;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 12px;
    border-radius: 4px;
  }
  
  textarea {
    padding: 10px;
    font-size: large;
    max-width: 96%;
    margin-top: 4px;
    margin-bottom: 12px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: large;
  }
  
  .modal-close {
    font-size: large;
    font-weight: bolder;
    background-color: #192228;
    border: none;
    cursor: pointer;
    color: #ffffff;
  }
    
  }

  @media only screen and (max-width: 400px) {
  .contact-form-container {
    max-width: 300px;
    max-height: 400px;
    width: 100%;
    height: 100%;
  }

  input {
    padding: 5px;
    font-size: large;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 12px;
    border-radius: 4px;
  }
  
  textarea {
    padding: 10px;
    font-size: large;
    max-width: 92%;
    margin-top: 4px;
    margin-bottom: 12px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: large;
  }
  
  .modal-close {
    font-size: large;
    font-weight: bolder;
    background-color: #192228;
    border: none;
    cursor: pointer;
    color: #ffffff;
  }
}